@tailwind base;
@tailwind components;
@tailwind utilities;


.slide{
    min-height:100vh;
    overflow: hidden;
}

.wrapper{
    width:80%;
    margin: 0 auto;
    overflow: hidden;
}

.invisible{
    display: none;
}

.carte{
    margin: 25px;
    width: 44%;
}

.filmImage{
    margin:50px 25px;
    width:300px;
    object-fit: cover;
    border-radius: 10px;
}

.filmDescription{
    width:50%;
    margin: 50px 25px;
}

#researchInput{
    width:40%;
}

#inputSearchReviews{
    width:40%;
}

.pagination ul li{
    cursor: pointer;
}

.inputNotValid + .error{
    display: block;
}

.error{
    color:red;
    display: none;
}

@media all and (max-width:1200px){
    #researchInput{
        width:80%;
    }
    #inputSearchReviews{
        width:80%;
    }
}

@media all and (max-width:998px)
{
    .carte{
        width: 60%;
    }
}




