@tailwind base;
@tailwind components;
@tailwind utilities;


.slide{
    min-height:100vh;
}

.wrapper{
    width:80%;
    margin: 0 auto;
    overflow: hidden;
}

.inputNotValid{
    background-color: red;
}

.invisible{
    display: none;
}

.carte{
    margin: 25px;
}

.filmImage{
    margin:50px 25px;
    width:300px;
    object-fit: cover;
}

.filmDescription{
    width:70%;
    margin: 50px 25px;
}





